@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* body {
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.signup {
    position: absolute;
    height: 51px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    vertical-align: middle;
} */
